@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    /* Force light mode background for now as per user request to avoid dark floating look */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}